body {
    font-family: Montserrat, 'sans-serif';
}

a {
    text-decoration: none;
}

/*MODULES*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.wrap-flex {
    flex-wrap: wrap;
}

.d-line-block {
    display: inline-block;
}

.pos-rel {
    position: relative;
}

/*MODULES END*/

/*MAIN MENU START*/

.main-menu {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
}

.logo-main-img {
    display: inline-block;
    width: 43px; height: 41px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.logo-main-img:hover {
    background-position: -73px -10px;
}

.logo-main-img:hover + .logo-main-text {
    color: #ffffff;
}

.logo-main-text {
    text-transform: uppercase;
    font-family: Lato, 'sans-serif';
    color:  #8d81ac;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
}

.main-logo:hover >.logo-main-img {
    background-position: -73px -10px;
}

.main-logo:hover > .logo-main-text {
    color: #ffffff;
}

/*.logo-main-text:hover ~ .logo-main-text2 {
    background-position: -73px -10px;
}*/

.main-menu-list {
    display: inline-block;
}

.main-menu-item {
    display: inline-block;
    margin-right: 46px;
}

.main-menu-link {
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 700;
}

.main-menu-link:hover {
    color: #ffffff;
}

.main-menu-button {
    display: inline-block;
    border-radius: 19px;
    background-color:  #8d81ac;
    color: #ffffff;
    text-align: center;
    padding: 11px 35px;
    font-weight: 700;
    font-size: 16px;
}

.main-menu-button:hover {
    background-color:  #ffffff;
    color:  #8d81ac;
}

/*MAIN MENU END*/

/*HEADER START*/

.header {
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 487px;
    position: relative;
}

.header-title {
    color:  #ffffff;
    font-size: 82px;
    font-weight: 700;
}

.header-description {
    font-family: Lato, 'sans-serif';
    color:  #8d81ac;
    font-size: 30px;
    font-weight: 400;
    padding: 18px 0;
}

.header-version {
    color:  #848e97;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.download-trial {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% - 35px));
}

.download-button {
    display: inline-block;
    background-color: #8d81ac;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 23px 63px;
    border-radius: 50px;
    margin-bottom: 19px;
    border: 1px solid #8d81ac;
}

.download-description-trial {
    color:  #848e97;
    font-size: 14px;
}

.download-button:hover {
    background-color:  #ffffff;
    color:  #8d81ac;
    border: 1px solid #8d81ac;
}

/*HEADER END*/


/*EDITOR SECTION START*/

.editor {
    padding-top: 129px;
    padding-bottom: 70px;
}

.h2-title {
    color:  #635c73;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.editor-description {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #323232;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.476px;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 36px;
}

/*EDITOR SECTION END*/

/*FEATURES SECTION START*/

.features {
    background-color: #f4f4f4;
    padding-top: 84px;
    padding-bottom: 55px;
    overflow: hidden;
}

.features-left {
    width: 40%;
    margin-right: 80px;
}

.features-right {
    width: 55%;
}

.features-item-img {
    flex: 0 0 25%;
    text-align: center;
}

.features-item-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.features-item-description {
    color:  #848e97;
    font-size: 14px;
    line-height: 15.5px;
}

.features-description {
    margin-left: 10px;
}

.features-item {
    margin-bottom: 34px;
}

.features-right-title {
    color:  #8d81ac;
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: -25px;
    right: 0;
}

.features-right {
    position: relative;
}

.features-img {
    position: absolute;
    height: 475px;
    top: 51px;
}

/*FEATURES SECTION END*/

/*CAROUSEL SECTION START*/

.carousel {
    padding-top: 87px;
    padding-bottom: 80px;
}

.carousel-arrow-left {
    color:  rgba(71, 71, 71, 0.5);
    padding-right: 103px;
    padding-left: 128px;
    align-items: center;
}

.carousel-arrow-right {
    color:  rgba(71, 71, 71, 0.5);
    padding-left: 104px;
    padding-right: 128px;
    align-items: center;

}

.message-description {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:  #333333;
}

.message-time {
    color:  #848e97;
    font-size: 16px;
}

.message-link {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #8d81ac;
    font-size: 20px;
}

.profile-img {
    margin-left: auto;
}

.profile-title {
    margin-right: auto;
}

.profile-name {
    color:  #635c73;
    font-size: 24px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 7px;
}

.profile-link {
    color:  #8d81ac;
    font-size: 16px;
}

.profile-img {
    flex: 0 0 11%;
}

.buffer-line {
    width: 780px;
    border: 1px solid rgba(199, 199, 199, 0.2);
}

/*CAROUSEL SECTION END*/
